a img[alt="watermark"] {
    display: none;
}
    
a[href*='https://github.com/Chainlit/chainlit'] {
    visibility: hidden;
}

#readme-button  {
    display: none;
}

.message-content {
    word-break: break-word;
}